<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/media/images/LogoEasyScrumfavicon.jpg">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap" rel="stylesheet">
    <title>Easy Scrum</title>
</head>
<body class="p-0 m-0 border-0 bd-example m-0 border-0">  
    <header class="fixed-top w-100 z-3">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="/media/images/LogoEasyScrum copiar.png"  id="foto-logo" alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Teste de Conhecimento</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Quem Somos</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Módulos
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#1">Teoria do Scrum</a></li>
                      <li><a class="dropdown-item" href="#2">História do Scrum</a></li>
                      <li><a class="dropdown-item" href="#3">Como aplicar Scrum</a></li>
                      <li><a class="dropdown-item" href="#4">Vantagens Scrum</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
  <main>
    <section class="container-fluid mt-5">
        <div class="row">
            <div class="col-lg-2 bg-dark"></div>
            <div class="col-lg-8 p-0"><img src="/media/images/EasyScrumHome.jpg" alt="" class="img-fluid"></div>
            <div class="col-lg-2 bg-dark"></div>
        </div>
    </section>
    
    <div class="conteiner-fluid pt-3">
      <div class="row m-0 p-0">
        <div class="col-md-8 mx-auto">        
          <div class="audio text-center mb-3">
            <audio controls loop class="w-100">
            <source src="audios/audio1e2.mp3" type="audio/mpeg">
            </audio>
          </div>
        </div>
      </div>
      <div class="row m-0 p-0">
        <section class="col-md-8 mx-auto rounded border border-3 border-danger-subtle mb-3 p-5 shadow" id="1">
            <h2>Teoria do Scrum</h2>
            <img src="/media/images/teoria-scrum.png" alt="Teoria do Scrum" id="imagem-teoria" class="img-fluid rounded">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium quas alias nulla deserunt aliquid repellendus repellat. Corrupti voluptatibus, quia quasi est recusandae laboriosam sint dolorum necessitatibus molestiae itaque magnam sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, explicabo. Officiis, adipisci. Voluptatibus, facere asperiores doloremque libero distinctio voluptates natus veritatis sint quidem expedita magni? Quidem dolorum odio recusandae consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quas quis, sint perspiciatis dolorum, adipisci, laboriosam veniam minus modi labore incidunt cumque nesciunt alias nostrum nulla inventore accusantium consectetur! Rerum.</p>
            <p>Scrum é um framework ágil utilizado principalmente no desenvolvimento de software. Ele permite que equipes trabalhem de forma colaborativa para resolver problemas complexos e entregar produtos de alta qualidade.</p>
        </section>
      </div>
      <div class="row m-0 p-0">
        <section class="col-md-8 mx-auto rounded border border-3 border-danger-subtle mb-3 p-5 shadow" id="2">        
            <h2>História do Scrum</h2>
            <p>Scrum foi criado por Jeff Sutherland, Ken Schwaber e Mike Beedle. Inicialmente pensado para equipes de desenvolvimento de software, o framework evoluiu para ser utilizado em diversas indústrias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nihil pariatur, soluta unde quasi assumenda quidem eaque voluptatum, nesciunt aspernatur blanditiis sed ducimus ea similique deleniti sapiente earum sit reiciendis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur iusto officiis nisi laboriosam quasi asperiores, odio cupiditate illum nam. Porro doloribus at perferendis fugit, iste temporibus quis corporis nesciunt ad.</p>    
        </section>        
      </div>
      <div class="row m-0 p-0">
        <section class="col-md-8 mx-auto rounded border border-3 border-danger-subtle mb-3 p-5 shadow" id="3">
            <h2>Como aplicar Scrum</h2>
            <p>Para aplicar Scrum, você precisa de uma equipe multifuncional e de eventos regulares como o Daily Scrum e a Sprint Review. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab nulla, harum quis quas ipsum maiores, nihil laborum autem, atque placeat dolore quos quisquam? Sint consectetur libero quo facere itaque culpa. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure qui perferendis beatae molestiae! Earum dolor cupiditate iusto, ad, natus quaerat ratione labore ea dolores, molestias facere! Accusamus omnis at cumque!</p>
        </section>        
      </div>
      <div class="row m-0 p-0">
        <section class="col-md-8 mx-auto rounded border border-3 border-danger-subtle mb-3 p-5 shadow" id="4">
            <h2>Vantagens do Scrum</h2>
            <p>Scrum ajuda a equipe a manter o foco no que é mais importante e permite ajustes rápidos com base no feedback do cliente. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis pariatur modi quasi quisquam quod eaque mollitia. Quia nisi nihil sed, perferendis dicta incidunt placeat atque voluptatibus, accusantium quos, non dolorum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo libero, accusamus quibusdam sunt quidem est veniam consequatur, repellat architecto hic distinctio earum nam aspernatur? Illo rerum dolorum eaque quos ducimus.</p>
        </section>        
      </div>
      </div>
    </div>
  </main>

    <footer class="container-fluid bg-dark">
        <section class="row h-10">
            <div class="col-fluid text-center text-white pt-4 pb-4">
                <span class="align-middle">Site criado pela equipe Echo | Todos os direitos reservados</span>
            </div>
        </section>
        
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>