<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ta pegando</h1>
    {% for row in rows %}
    <h1>{{ row['Nome'] }}</h1>
    <p>Quiz 1 = {{ row['quiz'] }}</p>
    <p>Quiz 2 = {{ row['quizz'] }}</p>
    <p>Quiz 3 = {{ row['quizzz'] }}</p>
    <p>Quiz 4 = {{ row['quizzzz'] }}</p>
    <p>Quiz 5 = {{ row['quizzzzz'] }}</p>
    <p>Quiz Total = {{ ((row['quiz']+row['quizz']+row['quizzz']+row['quizzzz']+row['quizzzzz'])*100)/25 }}</p>
    <form action="{{url_for('delete')}}" method="POST">
      <input type="hidden" name="nome" id="nome" value="{{ row['Nome'] }}">
      <input type="hidden" name="CPF" id="CPF" value="{{ row['CPF'] }}">
      <button type="submit" value="submit">Deletar</button>
    </form>
    {% endfor %}
</body>
</html>